{% extends "saml2sp/base.html" %}

{% block content %}
You are now logged out of this Service Point.<br />
{% if idp_logout_url %}
You are still logged into your Identity Provider.
You should logout of your Identity Provider here:<br />
<form method="POST" action="{{ idp_logout_url }}">
{#TODO: Add SAML Assertion (and other?) items. #}
<input type="submit" value="Logout at the Identity Provider">
</form>
{% if autosubmit %}
<script language="javascript">
<!--
/* Automatically submit the form. */
document.forms[0].submit();
//-->
</script>
{% endif %}
{% endif %}
{% endblock content %}
